In [1]:
import logging as lg

In [2]:
lg.basicConfig(filename = 'logging/assign_3.log' ,  level = lg.DEBUG , format = '%(asctime)s %(levelname)s %(message)s ')

#### 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [6]:
import operator

In [7]:
lg.info("\n\n Question 1 \n")
def arithmetic_operation(operation):
    lg.info("Arithmetic operations to be performed : " + operation)
    op = {
        '+' : operator.add,
        '-' : operator.sub,
        '*' : operator.mul,
        '//': operator.floordiv
    }
    lst = operation.split(' ')
    try:
        result = op[lst[1]](int(lst[0]),int(lst[2]))
        lg.info("Result is : " + str(result))
        return result
    except ZeroDivisionError as error:
        lg.info("Result is " + str(-1))
        return -1
    except Exception as e:
        lg.error("Error occured : " + str(e))
        return ("Error occured : " ,e)

In [8]:
arithmetic_operation("12 // 0")

-1

#### 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [9]:
from math import dist

In [10]:
lg.info("\n\n Question 2 \n")

def sides(x,y,z):
    lg.info("sides are :" + str(x) + str(y) + str(z))
    try:
        side1 = dist(x,y)
        side2 = dist(y,z)
        side3 = dist(z,x)
    except Exception as e:
        lg.error("Error occured : " + str(e))
        return e
    
    return side1,side2,side3

def perimeter(lst) :
    try:
        x ,y, z = lst
        
        side1,side2,side3 = sides(x,y,z)
        
        perimeter = side1 + side2 + side3
        
        lg.info("Perimeter is : " + str(round(perimeter,2)))
    
    except Exception as error:
        lg.error("Errror Occured : " +str(error))
        return error
    
    return f'{perimeter:.2f}'

In [11]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

'47.08'

#### 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],

[0, 0, 0, 0, 1, 0],

[0, 0, 1, 0, 1, 0],

[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([

  [0, 0, 0, 0],
  
  [0, 1, 0, 0],
  
  [0, 1, 1, 0],
  
  [1, 1, 1, 1]

]) ➞ 3

tallest_skyscraper([
  
  [0, 1, 0, 0],
  
  [0, 1, 0, 0],
  
  [0, 1, 1, 0],
  
  [1, 1, 1, 1]

]) ➞ 4

tallest_skyscraper([
  
  [0, 0, 0, 0],
  
  [0, 0, 0, 0],
  
  [1, 1, 1, 0],
  
  [1, 1, 1, 1]

]) ➞ 2

In [12]:
lg.info("\n\n Question3. \n")

def tallest_skyscraper(lst):
    
    lg.info(" 2-D list with 1s representing buildings: " + str(lst))
    
    h=0
    heights = []
    
    try:
        
        for i in range(len(lst[0])):
            for j in range(len(lst)):
                h += lst[j][i]
            heights.append(h)
            h = 0
        
        lg.info("Tallest building : " + str(max(heights)))
        return (max(heights))
    
    except Exception as e:
        
        lg.error("Error occureed :" + str(e))
        return ("Error occured : " ,e)

In [13]:
tallest_skyscraper([

[0, 1, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

])

4

#### 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

    Days	                             Bonus

    0 to 32 days	                   Zero

    33 to 40 days	         SGD$325 per billable day

    41 to 48 days	         SGD$550 per billable day

    Greater than 48 days      SGD$600 per billable day


Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [14]:
lg.info("\n\n Question 4 \n")

def bonus(n):
    
    lg.info("Number of days: " + str(n) )
    
    try:
        if n <= 32:
            lg.info("bonus = " +str(0))
            bonus = 0
        
        elif n > 32 and n <= 40:
            bonus = (n-32) * 325
            
        
        elif n >40 and n <= 48:
            bonus = 8 * 325
            bonus += (n-40) * 550
            
        
        else:
            bonus = (8 * 325) + (8 * 550)
            bonus += (n - 48) * 600
            
        lg.info("Bonus = " +str(bonus))
        return bonus

    except Exception as e:
            lg.error("Error occured : " +str(e))
            return ("Error occured : " ,e)

In [15]:
bonus(50)

8200

#### 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

'#'7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

'#'1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [16]:
lg.info("\n\n Questiopn 5 \n")

def disarium(num):
    
    lg.info("To check: " +str(num))
    
    try:
        
        j = str(num)
        d = 0
        
        for i in range(1,len(j)+1):
            d += int(j[i-1]) ** i
        
        if d == num:
            lg.info("Yes, it is disarium number")
            return True
        
        else:
            lg.info("It is not a disarium number")
            return False
            
            
    except Exception as e:
        
        lg.error("Error occured : " + str(e))
        return ("Error occured : ", e)

In [17]:
disarium(135)

True

In [18]:
disarium(75)

False